<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Langtons Ant</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/sandbox/LangtonsAnt.js"></script>
    <link rel="stylesheet" href="/static/css/LangtonsAnt.css" type="text/css" />
</head>
<body ng-app="LangtonsAnt">
    <div ng-controller="LangtonsAntController" class="main">
        <div class="heading">
            <h1>{{ pageName }}</h1>
        </div>
        <div id="stoppedcontrolls" ng-hide="running">
            <form novalidate>
            <label for="height">Height:</label><input type="text" ng-model="height" id="height"/>
            <label for="width">Width:</label><input type="text" ng-model="width" id="width" /><button ng-click="setUpBoard()">Reset Board</button>
            </form>
            <label for="delayInputStopped">Time Beteween Moves:</label><input ng-model="delay" id="delayInputStopped"/> <br />
            <button ng-click="startGame()" ng-hide="running">Start</button>
        </div>

        <div ng-show="running">
            <span>Ant: {{ant.x}}, {{ant.y}}, {{ant.direction}}</span><br />
            <label for="delayInputRunning">Time Beteween Moves:</label><input ng-model="delay" id="delayInputRunning"/> <br />
            <button ng-click="pauseGame()" ng-show="running">Stop</button>
        </div>
    <div class="board">

            <div ng-repeat="row in board">
                <span ng-repeat="cell in row track by $index"
                      class="box {{cell.active ? 'on' : 'off'}} {{cell.isAWall() ? 'wall' :''}} {{cell.containsAnt() ? 'ant ' + ant.direction : ''}}"></span>
            </div>
    </div>

    </div>
</body>
</html>